{% extends "crm/base.html" %}
{% block title %}Wizard Step 5 - Call Note{% endblock %}
{% block content %}
    <form method="post" onsubmit="submitBtn.disabled=true; return true;">
        {% csrf_token %}
            <div class="container-fluid px-2">
                <div class="row no-gutters pt-3">
                    <div class="col-12 pl-2 pb-1 pt-2 bg-secondary text-light">
                        <h4>CALL NOTE</h4>
                    </div>
                </div>
                <div class="row no-gutters pt-0 pb-1">
                    <div class="col-12 pl-2 pt-1 bg-light">
                        <h5>Account: {{ account.account_name }}</h5>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-12 pt-1">
                        <textarea id="note" name="note" rows="4" cols="25"></textarea>
                    </div>
                </div>
                <div class="row no-gutters pt-4">
                    <div class="col-12">
                        <input type="checkbox" id="samples" name="samples">
                            <label for="samples"><h3>Samples?</h3></label>
                        </input>
                    </div>
                </div>
                <div class="row no-gutters pt-4">
                    <div class="col-12">
                        <a href="#">
                            <button id="submitBtn" type="submit" class="btn btn-primary btn-block">Submit</button>
                        </a>
                    </div>
                </div>
            </div>
    </form>
{% endblock %}