{% load socialaccount %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
<html>
  <head>
    <title>{% block title %} Alementary EBS {% endblock %}</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">
          <img src="/static/Hex_Logo_small_KO.png" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/ebs/upcoming/">Upcoming</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/ebs/inprocess/">In Process</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/ebs/archive/">Archive</a>
              </li>
              {% comment %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Ref. Data
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Partner Types</a></li>
                      <li><a class="dropdown-item" href="#">Partners</a></li>
                      <li><a class="dropdown-item" href="#">Tanks</a></li>
                      <li><a class="dropdown-item" href="#">Products</a></li>
                  </ul>
              </li>
              {% endcomment %}
          </ul>
      </div>
  </nav>
  {% block content %}
  {% endblock %}
  </body>
</html>