{% extends "product/base.html" %}
{% block title %}Product Definition{% endblock %}
{% block content %}
<div class="container-fluid px-2">
        <div class="row no-gutters pt-3">
            <div class="col-10 bg-light"><h3>Product Definition</h3></div>
            <div class="col-2 bg-light">
                <span class="float-right">
                <a href="/product/create/">
                    <button class="btn btn-primary">
                        <span class="material-icons">add</span>
                    </button>
                </a>
                </span>
            </div>
        </div>
        {% for prod in prod_list %}
            <div class="row no-gutters pt-2 pb-2 border-bottom">
                <div class="col-8">{{ prod.product_name }}</div>
                <div class="col-2">
                    {{prod.ownership.partner_short_code}}
                </div>
                <div class="col-2">
                    <a href="/product/update/{{ prod.id }}/">Edit</a>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}