{% extends "delivery/base.html" %}
{% block title %}Alementary Delivery{% endblock %}
{% block content %}
    <div class="container-fluid px-2">
        <div class="row no-gutters pt-3">
            <div class="col-12 pb-2 pl-2 pt-3 border bg-light">
                <h3>Alementary Delivery</h3>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <span class="float-right">
                    <a href="/delivery/create/">
                        <button type="button" class="btn btn-warning">
                            <span class="material-icons">add</span>
                        </button>
                    </a>
                </span>
            </div>
        </div>
    </div>
{% endblock %}