{% extends "ebs/base.html" %}
{% block title %}In Process Batches{% endblock %}
{% block content %}
<div class="container-fluid px-2">
        <div class="row no-gutters pt-3">
            <div class="col-10 bg-light"><h3>In-Process Batches</h3></div>
            <div class="col-2 bg-light">
                <span class="float-right">
                <a href="/ebs/upcoming/create/">
                    <button class="btn btn-primary">
                        <span class="material-icons">add</span>
                    </button>
                </a>
                </span>
            </div>
        </div>
        {% for x in inprocess_batch_list %}
            <div class="row no-gutters pt-2 pb-2 border-bottom">
                <div class="col-1"><span class="small">{{ x.batchactualdates_set.first.brew_date|date:"dM" }}</span></div>
                <div class="col-1"><span class="small">{{x.batch_product.ownership.partner_short_code}}</span></div>
                <div class="col-1">{% if x.obeer_batch %}
                                        {{ x.obeer_batch }}
                                    {% endif %}
                </div>
                <div class="col-5">{{ x.batch_product.product_name}}</div>
                <div class="col-3"><span class="small">{{ x.target_fv }}</span></div>
                <div class="col-1">
                    <span class="float-right">
                        <a href="/ebs/inprocess/detail/{{ x.id }}">
                            <button type="button" class="btn btn-warning btn-sm">
                                <span class="material-icons">mode_edit</span>
                            </button>
                        </a>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}