{% extends "ebs/base.html" %}
{% block title %}Upcoming Batches{% endblock %}
{% block content %}
    <div class="container-fluid px-2">
        <div class="row no-gutters pt-3">
            <div class="col-10 bg-light"><h3>Upcoming Batches</h3></div>
            <div class="col-2 bg-light">
                <span class="float-right">
                <a href="/ebs/upcoming/create/">
                    <button class="btn btn-primary">
                        <span class="material-icons">add</span>
                    </button>
                </a>
                </span>
            </div>
        </div>
        {% for x in upcoming_batch_list %}
            <div class="row no-gutters pt-2">
                <div class="col-2">{{ x.plan_start_day|date:"d M" }}</div>
                <div class="col-1">{{x.batch_product.ownership.partner_short_code}}</div>
                <div class="col-6">
                    <a href="/ebs/upcoming/detail/{{ x.id }}">
                        {{ x.batch_product.product_name }}
                    </a>
                </div>
                <div class="col-1">
                    <span class="float-right">
                        <a href="/ebs/upcoming/delete/{{ x.id }}">
                            <button type="button" class="btn btn-danger">
                                <span class="material-icons">delete</span>
                            </button>
                        </a>
                    </span>
                </div>
                <div class="col-1">
                    <span class="float-right">
                        <a href="/ebs/upcoming/update/{{ x.id }}">
                            <button type="button" class="btn btn-warning">
                                <span class="material-icons">mode_edit</span>
                            </button>
                        </a>
                    </span>
                </div>
                <div class="col-1">
                    <span class="float-right">
                        <a href="/ebs/upcoming/start/{{ x.id }}">
                            <button type="button" class="btn btn-success">
                                <span class="material-icons">play_arrow</span>
                            </button>
                        </a>
                    </span>
                </div>
            </div>
            <div class="row no-gutters pb-5">
                <div class="col-2"></div>
                <div class="col-1"></div>
                <div class="col-6">
                    {% if not x.package_plan %}
                        <span class="material-icons" style="color: red; vertical-align: middle;">warning</span>NO PACKAGE PLAN
                    {% endif %}
                    {% if not x.batch_product.materials_abstract.first %}
                        <span class="material-icons" style="color:red; vertical-align: middle;">warning</span>NO MATERIALS
                    {% endif %}
                    {% if x.package_plan and x.batch_product.materials_abstract.first %}
                        <span class="material-icons" style="color: green; vertical-align: middle;">info</span>GOOD TO GO
                    {% endif %}
                </div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}