{% extends "ebs/base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block title %}Batch Wort QC Entries{% endblock %}
{% block content %}
    <div class="container-fluid px-2">
        <div class="row no-gutters pt-3">
            <div class="col-12 pb-2">
                <span class="float-right">
                    <a href="/ebs/inprocess/detail/{{ batch.id }}">
                        <button type="button" class="btn btn-warning">
                            <span class="material-icons">arrow_back_ios_new</span>
                        </button>
                    </a>
                </span>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Beer:</div>
            <div class="col-10 border pl-1">{{ batch.batch_product.product_name }}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Partner:</div>
            <div class="col-10 border pl-1">{{ batch.batch_product.ownership.partner_short_code }}</div>
        </div>
        {% if '/obeer' not in request.path %}
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Number:</div>
            {% if batch.obeer_batch is None %}
                <div class="col-4 border pl-1">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            {% else %}
                <div class="col-4 border pl-1">{{ batch.obeer_batch }}</div>
            {% endif %}
            <div class="col-2 text-right border bg-light pr-1">MPN:</div>
            {% if batch.obeer_batch is None %}
                <div class="col-4 border pl-1">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            {% else %}
                <div class="col-4 border pl-1">{{ batch.obeer_mpn }}</div>
            {% endif %}
        </div>
        {% endif %}

        <div class="row no-gutters">
            <br/>
            <div class="col-12 border pt-2 pl-1"><h4>Wort QC Entries</h4></div>
        </div>

        <div class="row no-gutters">
            <div class="col border bg-light pl-1">Turn</div>
            <div class="col border bg-light pl-1">Brewer</div>
            <div class="col-2 border bg-light pl-1"></div>
        </div>
        {% for wqc in wortqcentries %}
        <div class="row no-gutters">
            <div class="col border pl-1">{{ wqc.turn }}</div>
            <div class="col border pl-1">{{ wqc.brewer.name }}</div>
            <div class="col-2 border">
                <a href="/ebs/inprocess/detail/{{ batch.pk }}/wortqc/update/{{ wqc.id }}">
                    <button type="button" class="btn btn-primary btn-block">
                        <span class="material-icons md-18">mode_edit</span>
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
        <div class="row no-gutters">
            <div class="col-12 pt-2">
                <span class="float-right">
                    <a href="/ebs/inprocess/detail/{{ batch.pk }}/wortqc/add/">
                        <button type="button" class="btn btn-primary">Add</button>
                    </a>
                </span>
            </div>
        </div>

    </div>

{% endblock %}