{% extends "ebs/base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block title %}Add Subitem{% endblock %}
{% block content %}
    <div class="container-fluid float-left px-2">
        <div class="row no-gutters pt-3">
            <div class="col-12 pb-2">
                {% if '/archive' in request.path %}
                    <span class="float-right">
                        <a href="/ebs/archive/detail/{{ batch.id }}">
                            <button type="button" class="btn btn-warning">
                                <span class="material-icons">arrow_back_ios_new</span>
                            </button>
                        </a>
                    </span>
                {% else %}
                    <span class="float-right">
                        <a href="/ebs/inprocess/detail/{{ batch.id }}">
                            <button type="button" class="btn btn-warning">
                                <span class="material-icons">arrow_back_ios_new</span>
                            </button>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Beer:</div>
            <div class="col-10 border pl-1">{{ batch.batch_product.product_name }}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Partner:</div>
            <div class="col-10 border pl-1">{{ batch.batch_product.ownership.partner_short_code }}</div>
        </div>
        {% if '/obeer' not in request.path %}
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Number:</div>
            {% if batch.obeer_batch is None %}
                <div class="col-4 border pl-1">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            {% else %}
                <div class="col-4 border pl-1">{{ batch.obeer_batch }}</div>
            {% endif %}
            <div class="col-2 text-right border bg-light pr-1">MPN:</div>
            {% if batch.obeer_batch is None %}
                <div class="col-4 border pl-1">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            {% else %}
                <div class="col-4 border pl-1">{{ batch.obeer_mpn }}</div>
            {% endif %}
        </div>
        {% endif %}

        <div class="row no-gutters">
            <br/>
            <div class="col-12 border pt-2 pl-1"><h4>Batch Dates</h4></div>
        </div>
    <form method="POST">
        {% csrf_token %}
        {%  if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1">
                Date
            </div>
            <div class="col-3 border bg-light pl-1">
                Planned
            </div>
            <div class="col-6 border bg-light pl-1">
                Actual
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Brew
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.brew_date|date:"d M Y" }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.brew_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Yst Crash
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.yeast_crash_date|date:"d M Y" }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.yeast_crash_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Harvest
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.yeast_harvest_date|date:"d M Y" }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.yeast_harvest_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Dry-Hop
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.dryhop_date|date:"d M Y" }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.dryhop_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Final Crash
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.final_crash_date|date:"d M Y" }}
            </div>
            <div class="col-6 border pl-1 pt-3 pt-3">
                {{ form.final_crash_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Transfer
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.transfer_date|date:"d M Y" }}
            </div>
            <div class="col-6 border pl-1 pt-3 pt-3">
                {{ form.transfer_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Package
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.package_date|date:"d M Y" }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.package_date }}
            </div>
        </div>
        <div class="row no-gutters float-right pt-2 pb-5">
            <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}