{% extends "ebs/base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block title %}Add Subitem{% endblock %}
{% block content %}
    <div class="container-fluid px-2">
        <div class="row no-gutters pt-3">
            <div class="col-12 pb-2">
                {% if '/archive' in request.path %}
                    <span class="float-right">
                        <a href="/ebs/archive/detail/{{ batch.id }}">
                            <button type="button" class="btn btn-warning">
                                <span class="material-icons">arrow_back_ios_new</span>
                            </button>
                        </a>
                    </span>
                {% else %}
                    <span class="float-right">
                        <a href="/ebs/inprocess/detail/{{ batch.id }}">
                            <button type="button" class="btn btn-warning">
                                <span class="material-icons">arrow_back_ios_new</span>
                            </button>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Beer:</div>
            <div class="col-10 border pl-1">{{ batch.batch_product.product_name }}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Partner:</div>
            <div class="col-10 border pl-1">{{ batch.batch_product.ownership.partner_short_code }}</div>
        </div>
        {% if '/obeer' not in request.path %}
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-light pr-1">Number:</div>
            {% if batch.obeer_batch is None %}
                <div class="col-4 border pl-1">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            {% else %}
                <div class="col-4 border pl-1">{{ batch.obeer_batch }}</div>
            {% endif %}
            <div class="col-2 text-right border bg-light pr-1">MPN:</div>
            {% if batch.obeer_batch is None %}
                <div class="col-4 border pl-1">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            {% else %}
                <div class="col-4 border pl-1">{{ batch.obeer_mpn }}</div>
            {% endif %}
        </div>
        {% endif %}
        <div class="row no-gutters">
            <div class="col-12 border pt-2 pl-1"><h4>{{ name }}</h4></div>
        </div>
        <div class="row no-gutters pt-3 border pl-3 pr-3 pb-3">
            <div class="col">
                <form method="POST">
                    {% csrf_token %}
                    {%  if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% if form.is_bound %}
                                {% if field.errors %}
                                    {% render_field field class='form-control is-invalid' %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    {% render_field field class="form-control is-valid" %}
                                {% endif %}
                            {% else %}
                                {% render_field field class="form-control"  %}
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if 'rawmaterials' in request.path %}
                        <span class="float-left">
                            {% if '/archive' in request.path %}
                                <a href="/ebs/archive/detail/{{ batch.id }}/rawmaterials/delete/{{ current_material.id }}">
                                    <button type="button" class="btn btn-danger btn-block btn-sm">
                                        <span class="material-icons md-18">delete</span>
                                    </button>
                                </a>
                            {% else %}
                                <a href="/ebs/inprocess/detail/{{ batch.id }}/rawmaterials/delete/{{ current_material.id }}">
                                    <button type="button" class="btn btn-danger btn-block btn-sm">
                                        <span class="material-icons md-18">delete</span>
                                    </button>
                                </a>
                            {% endif %}
                        </span>
                    {% endif %}
                    <span class="float-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <br/><br/><br/>
{% endblock %}