{% extends "ebs/base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block title %}Batch Raw Materials Log{% endblock %}
{% block content %}
    <div class="container-fluid float-left px-2">
        <div class="row no-gutters pt-3">
            <div class="col-12 pb-2">
                {% if '/archive' in request.path %}
                    <span class="float-right">
                        <a href="/ebs/archive/detail/{{ batch.id }}">
                            <button type="button" class="btn btn-warning">
                                <span class="material-icons">arrow_back_ios_new</span>
                            </button>
                        </a>
                    </span>
                {% else %}
                    <span class="float-right">
                        <a href="/ebs/inprocess/detail/{{ batch.id }}">
                            <button type="button" class="btn btn-warning">
                                <span class="material-icons">arrow_back_ios_new</span>
                            </button>
                        </a>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-secondary pr-1 text-white">Beer:</div>
            <div class="col-10 border pl-1">{{ current_batch.batch_product.product_name }}</div>
        </div>
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-secondary text-white pr-1">Partner:</div>
            <div class="col-10 border pl-1">{{ current_batch.batch_product.ownership.partner_short_code }}</div>
        </div>
        {% if '/obeer' not in request.path %}
        <div class="row no-gutters">
            <div class="col-2 text-right float-left border bg-secondary text-white pr-1">Number:</div>
            {% if current_batch.obeer_batch is None %}
                <div class="col-4 border pl-1">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            {% else %}
                <div class="col-4 border pl-1">{{ current_batch.obeer_batch }}</div>
            {% endif %}
            <div class="col-2 text-right border bg-secondary text-white pr-1">MPN:</div>
            {% if current_batch.obeer_batch is None %}
                <div class="col-4 border pl-1">
                    <button type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            {% else %}
                <div class="col-4 border pl-1">{{ current_batch.obeer_mpn }}</div>
            {% endif %}
        </div>
        {% endif %}

        <div class="row no-gutters">
            <br/>
            <div class="col-10 pt-3 pl-1"><h3>Raw Materials Abstract</h3></div>
        </div>
        <div class="row no-gutters">
            <div class="col border bg-light pl-1">Phase</div>
            <div class="col border bg-light pl-1">Material</div>
            <div class="col border bg-light pl-1">Qty</div>
            <div class="col-2"></div>
        </div>
        {% if abstract %}
            {% for msh in abstract %}
                {% if msh.material_phase == "MSH" %}
                    <div class="row no-gutters">
                        <div class="col border pl-1">{{ msh.material_phase }}</div>
                        <div class="col border pl-1">{{ msh.material.material_name }}</div>
                        <div class="col border pl-1">{{ msh.material_qty}}</div>
                        <div class="col-2"></div>
                    </div>
                {% endif %}
            {% endfor %}
            {% for hsd in abstract %}
                {% if hsd.material_phase == "HSD" %}
                    <div class="row no-gutters">
                        <div class="col border pl-1">{{ hsd.material_phase }}</div>
                        <div class="col border pl-1">{{ hsd.material.material_name }}</div>
                        <div class="col border pl-1">{{ hsd.material_qty }}</div>
                        <div class="col-2"></div>
                    </div>
                {% endif %}
            {% endfor %}
            {% for csd in abstract %}
                {% if csd.material_phase == "CSD" %}
                    <div class="row no-gutters">
                        <div class="col border pl-1">{{ csd.material_phase }}</div>
                        <div class="col border pl-1">{{ csd.material.material_name }}</div>
                        <div class="col border pl-1">{{ csd.material_qty }}</div>
                        <div class="col-2"></div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="row no-gutters">
                <div class="col-12 pl-1 pt-2">
                    No Materials Abstract Is Available!
                </div>
            </div>
        {% endif %}
        <div class="row no-gutters">
            <div class="col-10 pt-5 pl-1"><h3>Raw Materials Actual</h3></div>
            <div class="col-2 pt-5 pr-1 pb-2">
                <span class="float-right">
                    {% if '/archive' in request.path %}
                        <a href="/ebs/archive/detail/{{ current_batch.pk }}/rawmaterials/add/">
                            <button type="button" class="btn btn-primary">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    {% else %}
                         <a href="/ebs/inprocess/detail/{{ current_batch.pk }}/rawmaterials/add/">
                            <button type="button" class="btn btn-primary">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col border bg-light pl-1">Grain</div>
            <div class="col border bg-light pl-1">Lot</div>
            <div class="col border bg-light pl-1">Qty</div>
            <div class="col-2 border bg-light pl-1"></div>
        </div>
        {% for g in grain %}
        <div class="row no-gutters">
            <div class="col border pl-1">{{ g.material.material_name }}</div>
            <div class="col border pl-1">{{ g.material_lot }}</div>
            <div class="col border pl-1">{{ g.material_qty }}</div>
            <div class="col-2 border">
                {% if '/archive' in request.path %}
                    <a href="/ebs/archive/detail/{{ current_batch.pk }}/rawmaterials/update/{{ g.id }}">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            <span class="material-icons md-18">mode_edit</span>
                        </button>
                    </a>
                {% else %}
                    <a href="/ebs/inprocess/detail/{{ current_batch.pk }}/rawmaterials/update/{{ g.id }}">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            <span class="material-icons md-18">mode_edit</span>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="row no-gutters">
            <div class="col border bg-light pl-1">Hops</div>
            <div class="col border bg-light pl-1">Lot</div>
            <div class="col border bg-light pl-1">Qty</div>
            <div class="col-2 border bg-light pl-1"></div>
        </div>
        {% for h in hops %}
        <div class="row no-gutters">
            <div class="col border pl-1">{{ h.material.material_name }}</div>
            <div class="col border pl-1">{{ h.material_lot }}</div>
            <div class="col border pl-1">{{ h.material_qty }}</div>
            <div class="col-2 border">
                {% if '/archive' in request.path %}
                    <a href="/ebs/archive/detail/{{ current_batch.pk }}/rawmaterials/update/{{ h.id }}">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            <span class="material-icons md-18">mode_edit</span>
                        </button>
                    </a>
                {% else %}
                    <a href="/ebs/inprocess/detail/{{ current_batch.pk }}/rawmaterials/update/{{ h.id }}">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            <span class="material-icons md-18">mode_edit</span>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="row no-gutters">
            <div class="col border bg-light pl-1">Other Stuff</div>
            <div class="col border bg-light pl-1">Lot</div>
            <div class="col border bg-light pl-1">Qty</div>
            <div class="col-2 border bg-light pl-1"></div>
        </div>
        {% for o in other %}
        <div class="row no-gutters">
            <div class="col border pl-1">{{ o.material.material_name }}</div>
            <div class="col border pl-1">{{ o.material_lot }}</div>
            <div class="col border pl-1">{{ o.material_qty }}</div>
            <div class="col-2 border">
                {% if '/archive' in request.path %}
                    <a href="/ebs/archive/detail/{{ current_batch.pk }}/rawmaterials/update/{{ o.id }}">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            <span class="material-icons md-18">mode_edit</span>
                        </button>
                    </a>
                {% else %}
                    <a href="/ebs/inprocess/detail/{{ current_batch.pk }}/rawmaterials/update/{{ o.id }}">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            <span class="material-icons md-18">mode_edit</span>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="row no-gutters">
            <div class="col-12 pt-2 pb-1">
                <span class="float-right">
                    {% if '/archive' in request.path %}
                        <a href="/ebs/archive/detail/{{ current_batch.pk }}/rawmaterials/add/">
                            <button type="button" class="btn btn-primary">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    {% else %}
                         <a href="/ebs/inprocess/detail/{{ current_batch.pk }}/rawmaterials/add/">
                            <button type="button" class="btn btn-primary">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>

        <div class="row no-gutters pt-5">
            <div class="col-12 pl-1"><h3>Things Not Listed</h3></div>
        </div>

        <div class="row no-gutters">
            <div class="col border bg-light pl-1">Type</div>
            <div class="col border bg-light pl-1">Note</div>
            <div class="col-1 border bg-light pl-1"></div>
        </div>
        {% for ul in not_listed %}
        <div class="row no-gutters">
            <div class="col border pl-1">{{ ul.note_type }}</div>
            <div class="col border pl-1">{{ ul.note }}</div>
            <div class="col-1 border">
                {% if '/archive' in request.path %}
                    <a href="/ebs/archive/detail/{{ current_batch.pk }}/batchnote/update/{{ ul.id }}">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            <span class="material-icons md-18">mode_edit</span>
                        </button>
                    </a>
                {% else %}
                    <a href="/ebs/inprocess/detail/{{ current_batch.pk }}/batchnote/update/{{ ul.id }}">
                        <button type="button" class="btn btn-primary btn-block btn-sm">
                            <span class="material-icons md-18">mode_edit</span>
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="row no-gutters">
            <div class="col-12 pt-2 pb-1">
                <span class="float-right">
                    {% if '/archive' in request.path %}
                        <a href="/ebs/archive/detail/{{ current_batch.pk }}/batchnote/add/">
                            <button type="button" class="btn btn-primary">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    {% else %}
                         <a href="/ebs/inprocess/detail/{{ current_batch.pk }}/batchnote/add/">
                            <button type="button" class="btn btn-primary">
                                <i class="material-icons">add</i>
                            </button>
                        </a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}