{% extends "ebs/base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block extrahead %}
{{ form.media }}
{% endblock %}
{% block title %}Add Subitem{% endblock %}
{% block content %}
<div class="container-fluid px-2">
    <div class="row no-gutters pt-3">
        <div class="col-12 pb-2">
            <span class="float-right">
                <a href="{{ request.META.HTTP_REFERER }}">
                    <button type="button" class="btn btn-warning">
                        <span class="material-icons">arrow_back_ios_new</span>
                    </button>
                </a>
            </span>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        {%  if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1">
                Date
            </div>
            <div class="col-3 border bg-light pl-1">
                Planned
            </div>
            <div class="col-6 border bg-light pl-1">
                Actual
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Brew
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.brew_date }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.brew_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Yst Crash
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.yeast_crash_date }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.yeast_crash_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Harvest
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.yeast_harvest_date }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.yeast_harvest_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Dry-Hop
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.dryhop_date }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.dryhop_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Final Crash
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.final_crash_date }}
            </div>
            <div class="col-6 border pl-1 pt-3 pt-3">
                {{ form.final_crash_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Transfer
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.transfer_date }}
            </div>
            <div class="col-6 border pl-1 pt-3 pt-3">
                {{ form.transfer_date }}
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-3 border bg-light pl-1 pt-3">
                Package
            </div>
            <div class="col-3 border pl-1 pt-4 pb-3">
                {{ plan_dates.package_date }}
            </div>
            <div class="col-6 border pl-1 pt-3 pb-3">
                {{ form.package_date }}
            </div>
        </div>
        <div class="row no-gutters float-right pt-2">
            <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}